<div class="footer">
  <div class="footer-links">
    <a target="_blank" href="https://www.instagram.com/farmssquares76/"><i class="fab fa-instagram"></i></a>
    <a target="_blank" href="https://www.facebook.com/profile.php?id=100068800493525"><i class="fab fa-facebook"></i></a>
    <%= link_to "Mentions Légales", mentions_path %>
  </div>
  <div class="footer-copyright">
    Créé par <%= link_to "https://github.com/SimonMfroy", target: "_blank" do %> Simon <% end %>&<%= link_to "http://www.nabil-labrazi.com/", target: "_blank" do %> Nabil<% end %>
  </div>
</div>
