<div class="homehome">

  <div class="JumbotronDisplay jumbotron">
    <div class="top-home">
      <div class="p-0 m-0 row">
        <div class="Jumbotron_col d-flex flex-column justify-content-center align-items-center text-center col-md-6 col-12">
          <h1 class="display-4" style="font-weight: bold;">Partagez votre amour pour l'agriculture !</h1>
          <h3 style="font-weight: bold;">La ville n’est pas un problème, c’est une solution</h3>
          <div class="my-5">
            <%= link_to "Rejoignez l'aventure", new_contact_path, class: "btn-flat btn btn-lg"  %>
          </div>
        </div>
        <div class="Jumbotron_col d-lg-block col-md-6">
        </div>
      </div>
    </div>
  </div>

<div class="nocontainer">

  <div class="row long-card-all">
    <div class="col-12 col-md-6 pd text-card-long">
      <div class="mb-4 mt-4">
        <h2>Une approche différente</h2>
        <p style="text-align: justify;">
          Une approche permaculturelle consistant à penser des systèmes pour prendre soin de l’Humain et de la Nature, selon les principes du développement durable. Nous offrons une agriculture zéro pesticides et un système générant une alimentation de haute qualité nutritive.
        </p>
      </div>
    </div>
    <div
      class="col-12 col-md-6 img-card-long img-card1 img-right"
      data-aos="flip-right"
      data-aos-delay="60"
      data-aos-duration="1500">
    </div>
  </div>
  <div class="row long-card-all">
    <div
      class="col-12 col-md-6 img-card-long img-card2 img-left"
      data-aos="flip-right"
      data-aos-delay="60"
      data-aos-duration="1500">
    </div>
    <div class="col-12 col-md-6 pd text-card-long">
      <div class="mb-4 mt-4">
        <h2>Écologique</h2>
        <p style="text-align: justify;">
          La production des cultures ne consommera que peu d’énergie : tendre vers l’autonomie énergétique, réduire les émissions de CO2, récupérer les énergies fatales, consommation d’énergie verte, …. et surtout une très faible consommation d’eau.
        </p>
      </div>
    </div>
  </div>
  <div class="row long-card-all">
    <div class="col-12 col-md-6 pd text-card-long">
      <div class="mb-4 mt-4">
        <h2>Solidaire</h2>
        <p style="text-align: justify;"> Développer et conserver le lien entre les individus à travers la solidarité et le partage est une priorité : favoriser l’insertion professionnelle, égalité homme-femme, l’intergénérationnel…. Nous voulons promouvoir et développer l’économie locale, écologique, sociale et solidaire.</p>
      </div>
    </div>
    <div
      class="col-12 col-md-6 img-card-long img-card3 img-right"
      data-aos="flip-right"
      data-aos-delay="60"
      data-aos-duration="1500">
    </div>
  </div>

</div>

</div>
