<p>Bonjour <%= @resource.email %>!</p>

<p>Quelqu'un a demandé à changer votre mot de passe. Vous pouvez le faire en accedant au lien ci-dessous</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si ce n'est pas vous, veuillez ignorer ce mail.</p>
<p>Votre mot de passe restera inchangé tant que vous n'aurez pas accedé au lien ci-dessus.</p>